### IF - Statement

In [3]:
is_old = True
is_license = True

if is_old:
    print("You can drive")
    
print("Hmm")

You can drive
Hmm

In [13]:
is_old = False
is_license = True

if is_old:
    print("You can drive")
    
print("Hmm")

Hmm

In [37]:
is_raining = True
is_sunny = True
unsubscribed = False
location = "USA"

if is_raining and is_sunny:
    print("Is there a rainbow?")

if (not unsubscribed) and (location == "USA" or location == "CAN"):
    print("send email")

Is there a rainbow?
send email

In [11]:
is_female = True
is_engineering = True

if is_female:
    print("You can be Brave")
else:
    print("Try to be nothing but Brave")

You can be Brave

In [15]:
is_female = True
is_engineering = True

if is_engineering:
    print("You can work for Company")
elif is_female:
    print("Be Brave")
else:
    print("Be self-employed")

You can work for Company
Hmm

In [16]:
is_female = False
is_engineering = False

if is_engineering:
    print("You can work for Company")
elif is_female:
    print("Be Brave")
else:
    print("Be self-employed")

Be self-employed

### Truthy and Falsey

In [21]:
is_female = bool('Female')
is_engineering = bool(10)

print(is_female)
print(is_engineering)

True
True

In [24]:
is_female = bool(' ')      #space is a string value in python
is_engineering = bool(0)

print(is_female)
print(is_engineering)

True
False

In [23]:
is_female = bool('')
is_engineering = bool(0)

print(is_female)
print(is_engineering)

False
False

In [31]:
is_raining = True
is_sunny = True

if is_raining and is_sunny:
    print("Is there a rainbow?")
    
else:
    print("This is just a climatic change")

Is there a rainbow?

In [32]:
is_raining = True
is_sunny = False

if is_raining and is_sunny:
    print("Is there a rainbow?")
    
else:
    print("This is just a climatic change")

This is just a climatic change

### Ternery Operators

In [39]:
is_friend = True
can_message = "message allowed" if is_friend else "you can not message"

print(can_message)

message allowed

In [42]:
is_friend = False
can_message = "message allowed" if is_friend else "you can not message"

print(can_message)

you can not message

In [41]:
electricity = True
charge_mobile = "mobile charging" if electricity else "running low on charge"

print(charge_mobile)

mobile charging

### Nested If statement

In [1]:
state = 'CA'
purchase_amount = 20.00    # a sample state and purchase amount

if state == 'CA':
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN':
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY':
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from CA, your total cost is 21.5.

In [3]:
answer = 35
guess = 40   # this is just a sample answer and guess

if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
   result = "Oops!  Your guess was too high."
elif guess==answer:
    result = "Nice!  Your guess matched the answer!"
print(result)

Oops!  Your guess was too high.

In [36]:
points = 174  # use this input when submitting your answer

# set prize to default value of None
prize = None

# use the value of points to assign prize to the correct prize name
if points <= 50:                    #range (0 - 50)
    prize = "wooden rabbit"
elif 151 <= points <= 180:         #range (151 - 180)
    prize = "wafer-thin mint"
elif points >= 181:               #range (181 - ...)
    prize = "penguin"

# use the truth value of prize to assign result to the correct message

if prize:
    result = "Congratulations! You won a {}!".format(prize)
else:
    result = "Oh dear, no prize this time."

print(result)

Congratulations! You won a wafer-thin mint!

## For statement

In [ ]:
#Creating a Dictionary using a for statement

In [5]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

In [6]:
word_counter = {}

In [7]:
for word in book_title:
    if word not in word_counter:
        word_counter[word] = 1
    else:
        word_counter[word] += 1
        
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [8]:
word_counter.add('great')
word_counter

AttributeError: 'dict' object has no attribute 'add'

In [9]:
# Second method using .get function

book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

In [10]:
word_counter = {}

In [14]:
for word in book_title:
    word_counter[word] = word_counter.get(word, 0) + 1
    
word_counter

{'great': 8,
 'expectations': 4,
 'the': 8,
 'adventures': 8,
 'of': 8,
 'sherlock': 4,
 'holmes': 4,
 'gasby': 4,
 'hamlet': 4,
 'huckleberry': 4,
 'fin': 4}

## Iterating through a dictionary using a for loop
#### Iterating through the key and value in the dictionary

In [16]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

In [17]:
for key in cast:
    print(key)

Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards

In [22]:
for key,value in cast.items():
    print('This is {}, he played {}'.format(key,value))

This is Jerry Seinfeld, he played Jerry Seinfeld
This is Julia Louis-Dreyfus, he played Elaine Benes
This is Jason Alexander, he played George Costanza
This is Michael Richards, he played Cosmo Kramer

In [23]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for object, count in basket_items.items():
    
    if object in fruits:
       result += count

print("There are {} fruits in the basket.".format(result))

There are 23 fruits in the basket.

In [24]:
fruit_count, not_fruit_count = 0, 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for object, count in basket_items.items():
    if object in fruits:
       fruit_count += count
    else:
        not_fruit_count += count

print("The number of fruits is {}.  There are {} objects that are not fruits.".format(fruit_count, not_fruit_count))

The number of fruits is 23.  There are 11 objects that are not fruits.

## While Loop

In [29]:
# number to find the factorial of
number = 6
# start with our product equal to one
product = 1
# track the current number being multiplied
current = 1

while  current <= number:
    # multiply the product so far by the current number
    product *= current
    # increment current with each iteration until it reaches number
    current += 1


# print the factorial of number
print(product)

720

In [28]:
# number we'll find the factorial of
number = 6
# start with our product equal to one
product = 1

# calculate factorial of number with a for loop
for num in range(2, number + 1):
    product *= num

# print the factorial of number
print(product)

720

In [30]:
start_num = 5
end_num = 100
count_by = 2

break_num = start_num
while break_num < end_num:
    break_num += count_by

print(break_num)

101

In [31]:
start_num = 5
end_num = 100
count_by = 2

if start_num > end_num:
    result = "Oops! Looks like your start value is greater than the end value. Please try again."

else:
    break_num = start_num
    while break_num < end_num:
        break_num += count_by

    result = break_num

print(result)

101

In [32]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]

count_odd = 0
list_sum = 0
i = 0
len_num_list = len(num_list)

while (count_odd < 5) and (i < len_num_list): 
    if num_list[i] % 2 != 0:
        list_sum += num_list[i]
        count_odd += 1
    i += 1

print ("The numbers of odd numbers added are: {}".format(count_odd))
print ("The sum of the odd numbers added is: {}".format(list_sum))

The numbers of odd numbers added are: 5
The sum of the odd numbers added is: 993

## List Comprehension

In [33]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [x.split()[0] for x in names] # write your list comprehension here
print(first_names)

['Rick', 'Morty', 'Summer', 'Jerry', 'Beth']

In [35]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [x.split()[1] for x in names] # write your list comprehension here
print(first_names)

['Sanchez', 'Smith', 'Smith', 'Smith', 'Smith']

In [37]:
# fixing the uniqueness of the element
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [x.split()[1] for x in names] # write your list comprehension here
first_names = set(first_names)
print(first_names)

{'Sanchez', 'Smith'}

In [40]:
# Multiple of 3
multiples_3 = [i * 3 for i in range(1, 21)]#write your list comprehension here
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [42]:
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [1]:
alien_1 = {'Color':'Green', 'points' : 5}
alien_2 = {'Color':'Yellow', 'points' : 7}
alien_3 = {'Color':'Red', 'points' : 9}

In [2]:
aliens = [alien_1, alien_2, alien_3]

In [3]:
for alien in aliens:
    print(alien)

{'Color': 'Green', 'points': 5}
{'Color': 'Yellow', 'points': 7}
{'Color': 'Red', 'points': 9}