## Data structure is a way to organise information and data. 
It is a very important concept in programming language.

1. List
2. Dictionary

## 1. List

List are mutable

In [1]:
fruit = ['Orange', 'Guava', 'Mango', 'Pawpaw', 'Pear', 'Berry']    # fruit variable with a list of different objects
print(fruit)

['Orange', 'Guava', 'Mango', 'Pawpaw', 'Pear', 'Berry']

In [2]:
print(fruit[2])

Mango

In [3]:
amazon_cart = ['Electronics', 'Groceries', 'Cloth', 'Books', 'Stationaries', 'Shoes', 'Sunglasses', 'Beauty Products', 'Beverages', 'Children Wear']

In [4]:
amazon_cart[5]

'Shoes'

In [5]:
amazon_cart[9] = 'Bags'         
amazon_cart

['Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Bags']

## List slicing

In [6]:
print(amazon_cart[0:3])

['Electronics', 'Groceries', 'Cloth']

In [7]:
new_cart = amazon_cart[0:3]
new_cart

['Electronics', 'Groceries', 'Cloth']

In [8]:
new_cart2 = amazon_cart[::-1]       # Another way to reverse a list
new_cart2

['Bags',
 'Beverages',
 'Beauty Products',
 'Sunglasses',
 'Shoes',
 'Stationaries',
 'Books',
 'Cloth',
 'Groceries',
 'Electronics']

In [9]:
new_cart = amazon_cart[9:2:-1]
new_cart

['Bags',
 'Beverages',
 'Beauty Products',
 'Sunglasses',
 'Shoes',
 'Stationaries',
 'Books']

In [10]:
new_cart = amazon_cart[2:9:-1]
new_cart

[]

In [11]:
new_cart = amazon_cart[:-1]
new_cart

['Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages']

## 2-D List
2-D lists are called Matrix

In [12]:
mat = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(mat[1][2])
print(mat[2][0])

6
7

In [13]:
mat = [
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]], 
    [[101, 12, 13], [14, 75, 16], [97, 88, 19]], 
    [[21, 22, 23], [24, 25, 62], [47, 58, 90]]
]
print(mat[1][2][1])

88

## List function

In [1]:
amazon_cart = ['Electronics', 'Groceries', 'Cloth', 'Books', 'Stationaries', 'Shoes', 'Sunglasses', 'Beauty Products', 'Beverages', 'Children Wear']

amazon_cart.append("food")
amazon_cart

new_cart = amazon_cart
new_cart

['Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Children Wear',
 'food']

In [2]:
amazon_cart.insert(0, 'Electrical Appliances')
amazon_cart
#print(len(amazon_cart))

['Electrical Appliances',
 'Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Children Wear',
 'food']

In [3]:
amazon_cart.extend(["vegetables"])
amazon_cart

['Electrical Appliances',
 'Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Children Wear',
 'food',
 'vegetables']

In [4]:
amazon_cart.extend(["Sales product"])   # extend takes only one object
amazon_cart

['Electrical Appliances',
 'Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Children Wear',
 'food',
 'vegetables',
 'Sales product']

In [22]:
amazon_cart.sort()
amazon_cart

['Beauty Products',
 'Beverages',
 'Books',
 'Children Wear',
 'Cloth',
 'Electronics',
 'Groceries',
 'Shoes',
 'Stationaries',
 'Sunglasses']

#### Sorted function sorts the element but does not chaneg the content of the element
It still retains it intial arrangement befiore it was sorted

In [23]:
amazon_cart = ['Electronics', 'Groceries', 'Cloth', 'Books', 'Stationaries', 'Shoes', 'Sunglasses', 'Beauty Products', 'Beverages', 'Children Wear']
print(sorted(amazon_cart))

['Beauty Products', 'Beverages', 'Books', 'Children Wear', 'Cloth', 'Electronics', 'Groceries', 'Shoes', 'Stationaries', 'Sunglasses']

In [24]:
amazon_cart

['Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Children Wear']

### Checking for the index of an element

In [13]:
print(amazon_cart.index("Cloth"))

4

In [15]:
print(amazon_cart.index("Books", 0, 5))

2

### using the "in" keyword to check if there is an element

In [16]:
print("Animals" in amazon_cart)

False

In [17]:
print("vegetables" in amazon_cart)

True

### Count

In [21]:
amazon_cart = ['Electronics', 'Groceries', 'Cloth', 'Books', 'Stationaries', 'Shoes', 'Sunglasses', 'Beauty Products', 'Beverages', 'Children Wear']
print(amazon_cart.count("Shoes"))

1

### Copy

In [28]:
amazon_cart = ['Electronics', 'Groceries', 'Cloth', 'Books', 'Stationaries', 'Shoes', 'Sunglasses', 'Beauty Products', 'Beverages', 'Children Wear']
new_list =amazon_cart.copy()
new_list

['Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Children Wear']

In [27]:
amazon_cart

['Electronics',
 'Groceries',
 'Cloth',
 'Books',
 'Stationaries',
 'Shoes',
 'Sunglasses',
 'Beauty Products',
 'Beverages',
 'Children Wear']

### Reverse

In [30]:
amazon_cart = ['Electronics', 'Groceries', 'Cloth', 'Books', 'Stationaries', 'Shoes', 'Sunglasses', 'Beauty Products', 'Beverages', 'Children Wear']
amazon_cart.reverse()
amazon_cart

['Children Wear',
 'Beverages',
 'Beauty Products',
 'Sunglasses',
 'Shoes',
 'Stationaries',
 'Books',
 'Cloth',
 'Groceries',
 'Electronics']

### Range

In [31]:
numbers = list(range(100))
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [32]:
numbers = list(range(1, 100, 2))
numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

### Join

In [2]:
sentence = ' '
new_sentence = sentence.join(['I', 'am', 'on', 'a', 'path', 'of', 'discovery'])

print(new_sentence)

I am on a path of discovery

In [3]:
new_sentence = ' '.join(['I', 'am', 'on', 'a', 'path', 'of', 'discovery'])

print(new_sentence)

I am on a path of discovery

### Pop
For removing objects via the index while "remove" method uses the value of the element

In [25]:
amazon_cart.pop(0)
amazon_cart

['Beverages',
 'Books',
 'Children Wear',
 'Cloth',
 'Electrical Appliances',
 'Electronics',
 'Groceries',
 'Shoes',
 'Stationaries',
 'Sunglasses',
 'food',
 'vegetables',
 'Sales product']

In [26]:
amazon_cart.pop()
amazon_cart

['Beverages',
 'Books',
 'Children Wear',
 'Cloth',
 'Electrical Appliances',
 'Electronics',
 'Groceries',
 'Shoes',
 'Stationaries',
 'Sunglasses',
 'food',
 'vegetables']

In [31]:
new_list = amazon_cart.pop()
new_list

'Sunglasses'

In [29]:
amazon_cart.remove("food")
amazon_cart

['Beverages',
 'Books',
 'Children Wear',
 'Cloth',
 'Electrical Appliances',
 'Electronics',
 'Groceries',
 'Shoes',
 'Stationaries',
 'Sunglasses',
 'vegetables']

### "Clear method" clears the content of the list

In [33]:
amazon_cart.clear()
amazon_cart

[]

### List Unpacking

In [1]:
basket = [1,2,3]
a,b,c = [1,2,3]

print(a)
print(b)
print(c)

1
2
3

In [2]:
a,b,c = [1,2,3]

print(a)
print(b)
print(c)

1
2
3

In [3]:
#example of list unpacking
a,b,c, *other = [1,2,3,4,5,6,7,8,9]

print(a)
print(b)
print(c)
print(other)

1
2
3
[4, 5, 6, 7, 8, 9]

In [4]:
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9]

print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

### None
None is the absence of Value

In [5]:
weapons = None
print(weapons)

None

## 2. Dictionary

A dictionary is an unordered "Key-Value" pair.

Dictionary key always have to be immutable and Unique

In [11]:
dictionary = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}

print(dictionary['a'])

1

In [13]:
fruit = {
    1 : 'Mango',
    2 : 'Cashew',
    3 : 'Banana'
}

print(fruit[1])

Mango

In [6]:
dictionary = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
}

print(dictionary['a'][1][2])

6

In [19]:
multi = [
{
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
},
{
    1 : [['Mango', 'Berries', 'Lemon'],['Pear','Apple','Plantain'],['Coconut','Avocado','Kiwi', 'Banana']],
    2 : 'Cashew',
    3 : ['Zebra', 'Bear', 'Dog']
}
]
print(multi[1][1][0][2])

Lemon

In [24]:
# Dictionary key has to be unqiue otherwise it overwrites the previous value.
dictionary = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'a' : 'I am going to Canada',
    'c' : 3
}

print(dictionary['a'])

I am going to Canada

In [44]:
dictionary = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    100 : 3
}

print(dictionary['a'][1][2])

6

In [42]:
dictionary = {'a': [[1,2,3],[4,5,6],[7,8,9]], 'b': 2, (100,): 3}
print(dictionary['a'][1][2])

6

In [43]:
dictionary = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    frozenset({100}) : 3
}
print(dictionary['a'][1][2])

6

### Dictionary Methods

In [32]:
multi = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
}
print(multi.get('task'))

None

In [33]:
multi = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
}
print(multi.get('task', 'Not there'))

Not there

In [35]:
multi = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
}
print('d' in multi.keys())

False

In [39]:
multi = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
}
print(3 in multi.values())

True

In [40]:
multi = {
    'a' : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
}
print(multi.items())

dict_items([('a', [[1, 2, 3], [4, 5, 6], [7, 8, 9]]), ('b', 2), ('c', 3)])

### Tuple
Tuple are not flexible.

In [47]:
fruit = ('Mango' ,'Paw-Paw', 'Berry', 'Cashew', 'Guava')
print(fruit)

('Mango', 'Paw-Paw', 'Berry', 'Cashew', 'Guava')

In [48]:
fruit = ('Mango' ,'Paw-Paw', 'Berry', 'Cashew', 'Guava')
print('Mango' in fruit)

True

In [ ]:
fruit = ('Mango' ,'Paw-Paw', 'Berry', 'Cashew', 'Guava')
print(fruit)

In [52]:
# Tuple as the key of a dictionary
multi = {
    (1,2) : [[1,2,3],[4,5,6],[7,8,9]],
    'b' : 2,
    'c' : 3
}
print(multi[(1,2)])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
multi = (1,2,3,4,5)
new_tuple = multi[1:2]

print(new_tuple)

(2,)

In [56]:
multi = (1,2,3,4,5)
new_tuple = multi[1:1]

print(new_tuple)

()

In [55]:
multi = (1,2,3,4,5)
new_tuple = multi[1:4]

print(new_tuple)

(2, 3, 4)

In [57]:
x,y,z, *other = (1,2,3,4,5,6,7,8,9,10)

print(x)
print(y)
print(z)
print(other)

1
2
3
[4, 5, 6, 7, 8, 9, 10]

### Tuple Methods

In [60]:
multi = (1,2,3,4,5)

print(multi.count(3))

1

In [62]:
multi = (1,2,3,4,5)

print(multi.count(3))

1

In [64]:
multi = (1,2,3,4,5,6,7,8,8,9)

print(multi.index(8))

7

In [67]:
multi = (1,2,3,4,5,6,7,8,8,9)
print(len(multi))

10

## Sets
Unordered collection of unique object

In [69]:
my_set = {1,2,3,4,5,6,7,8,9,10,10,10}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [71]:
my_set.add(50)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50}

In [72]:
my_list = [1,2,3,4,5,6,7,8,8,9]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
my_set = {1,2,3,4,5,6,7,8,9,10,10,10}
print(len(my_set))

10

In [75]:
my_set = {1,2,3,4,5,6,7,8,9,10,10,10}
print(1 in my_set)

True

In [76]:
my_set = {1,2,3,4,5,6,7,8,9,10,10,10}
print(list(my_set))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Set Methods

#### Difference method

In [77]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set1.difference(set2))

{1, 2, 3}

#### Discard Method

In [78]:
set2 = {4,5,6,7,8,9,10}
print(set2.discard(10))
print(set2)

None
{4, 5, 6, 7, 8, 9}

#### Difference Update Method

In [80]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set1.difference_update(set2))
print(set1)

None
{1, 2, 3}

#### Intersection Method

In [82]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set1.intersection(set2))

{4, 5}

In [87]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8,9,10}

print(set_1 & set_2)

{4, 5}

#### isdisjoint Method

In [83]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set1.isdisjoint(set2))

False

In [84]:
set1 = {1,2,3}
set2 = {4,5,6,7,8,9,10}

print(set1.isdisjoint(set2))

True

#### Union

In [85]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [86]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8,9,10}

print(set_1 | set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### issubset method

In [88]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set1.issubset(set2))

False

In [89]:
set1 = {2,3,4,5}
set2 = {2,3,4,5,6,7,8,9,10}

print(set1.issubset(set2))

True

#### issuperset method

In [90]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set1.issuperset(set2))

False

In [91]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,10}

print(set2.issuperset(set1))

False

In [93]:
set1 = {4,5}
set2 = {4,5,6,7,8,9,10}

print(set2.issuperset(set1))

True